*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1140px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  padding: 6px 74px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
  inline-size: 100%;
}

.result__video-container {
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-child {
  flex: 1 0 auto;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover:has(input[type="checkbox"]) {
  text-decoration: 1px underline #fff;
  cursor: pointer;
}

.search-form__textfield {
  border: 1px solid #fff;
  border-inline: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 100%;
  appearance: none;
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  padding: 1px;
  block-size: 19px;
  inline-size: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  opacity: 0;
  background-color: #fff;
  block-size: 100%;
  inline-size: 100%;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  inline-size: 399px;
  block-size: 100%;
}

.title {
  margin-block-end: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  block-size: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  min-inline-size: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #d9d9d9;
  line-height: 90%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
